


@media (min-width: 400px) and (max-width: 449px) {

	div.document-wrapper{
		/* pick a background color */
		background-color: rgb(234, 96, 4);
		/* add optionnal padding to the wrapper */
		padding: 2%;
	}

	div.document-container{
		/* choose the parent flexible settings */
		display: ruby-base;
		flex-direction: row;
		justify-content: space-evenly;
		align-content: unset;
		flex-wrap: wrap;
	}

	div.document-container div{
		/* change width and height */
		width: 15%;
		height: 40%;
		/* change mix blend mode */
		mix-blend-mode: exclusion;
	}

	div.document-container div p{
		/* turn off text help */
		/* display: none; */
	}

	/* individual blocks */

	/* 
		can be changed...
		width: %;
		height: %;
		order: 1;
		opacity: 1;
		align-self: value;
	*/

	div.document-container div:nth-of-type(even){

	}

	div.document-container div:nth-of-type(odd){

	}

	div.document-container div:nth-of-type(1){

	}

	div.document-container div:nth-of-type(2){

	}

	div.document-container div:nth-of-type(3){

	}

	div.document-container div:nth-of-type(4){
	
	}

	div.document-container div:nth-of-type(5){

	}

	div.document-container div:nth-of-type(6){

	}

	div.document-container div:nth-of-type(7){

	}

	div.document-container div:nth-of-type(8){
	
	}

	div.document-container div:nth-of-type(9){

	}

	div.document-container div:nth-of-type(10){

	}

	div.document-container div:nth-of-type(11){
	
	}

	div.document-container div:nth-of-type(12){

	}

	div.document-container div:nth-of-type(13){
	
	}

	div.document-container div:nth-of-type(14){
	
	}

	div.document-container div:nth-of-type(15){
	
	}

	div.document-container div:nth-of-type(16){
		
	}

}


